/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 9999999999;
  transition: all 0.5s;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
}

.header__logo {
  position: relative;
}

.header__logo a:hover {
  color: black;
}

.header__logo a {
  text-decoration: none;
  color: #fb811e;
  transition: all 0.5s;
  font-weight: 600;
}

.header__logo i {
  position: absolute;
  top: 0px;
  left: 60px;
  font-size: 16px;
}

.header__item #header__search {
  background: #fff url(../img/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  transition: all 0.5s;
  cursor: pointer;
}

.header__item #header__search:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  border: none;
  outline: 0;
}

.header__item {
  list-style: none;
}

.header__item .nav-item {
  display: inline;
}

.sticky {
  background-color: white;
  box-shadow: 0 3px 6px 0 rgb(0 0 0/5%);
  height: 70px;
  margin: -5px 0;
}

.dark .sticky {
  background-color: #222222;
}
/* Light theme */
#myBody {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
  font-size: 20px;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #222222;
  color: white;
}
.dark #switchButton {
  background-color: transparent;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
  font-size: 20px;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: transparent;
  color: white;
}

.header__nav .change__theme:focus {
  outline: 0;
  box-shadow: none;
}

.dark .slider__right h2 {
  color: black;
}

.dark .navbar__menu .bars__item {
  background-color: #222222;
}

.dark .slidright__content h3,
.dark .slidright__content p {
  color: white;
}

.dark .header__nav .bars__item a {
  color: white;
}
/* NAVMENU */
.navbar__menu #navbar__bars {
  display: none;
}
.navbar__menu label {
  transition: all 0.5s;
}

.navbar__check {
  cursor: pointer;
  font-size: 25px;
}

.navbar__menu .bars__menu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: var(--bg-color);
  transition: all 0.3s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  width: 200px;
}

#navbar__bars:checked ~ ul.bars__menu {
  max-height: 400px;
  width: 200px;
}

.bars__menu .bars__item {
  text-align: center;
  transition: all 0.3s;
  background-color: white;
}

.bars__item:hover,
li.active {
  color: #fb811e;
}

.bars__menu a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 600;
  margin: 10px 0;
}

/* SLIDER */
.slider__right h2 {
  color: #f6f6f6;
  font-size: 120px;
  font-weight: 600;
  margin-left: 1em;
  position: absolute;
  top: 120px;
  left: 80px;
}

.slidright__content {
  position: absolute;
  z-index: 9999999;
  left: 270px;
  top: 200px;
  width: 80%;
}

.slidright__content h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.slidright__content p {
  font-size: 20px;
}

.slidright__content button {
  background-color: #fb811e;
  color: white;
  padding: 10px 30px;
  border: 0;
  border-radius: 25px;
  outline: none;
  transition: all 0.5s;
}

.slidright__content button:hover {
  background-color: #009f4d;
}

.slidleft__item {
  background-size: cover;
  height: 100vh;
  position: relative;
}

.slidleft__img1 {
  background-image: url(../img/b1.jpg);
}

.slidleft__img2 {
  background-image: url(../img/b2.jpg);
}

.slidleft__img3 {
  background-image: url(../img/b3.jpg);
}

/* slick carousel */
.slidleft__content .slick-dots {
  bottom: 20px;
}

.slidleft__content .slick-dots li button:before {
  font-size: 13px;
  color: white;
  opacity: 1;
}

.slidleft__content .slick-dots li.slick-active button:before {
  color: #fb811e;
}

.slidleft__content .slick-list {
  border-radius: 15px;
}

.slidleft__text {
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: center;
  color: #fff;
}

/* 03 NAVI ( grow naturally ) */
.navi__left-small-title {
  color: #fb811e;
  font-size: 22px;
}
.navi__left-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.navi__left-btn {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.navi__left-btn:hover {
  background: #009f4d;
  color: #ffffff;
}
@media (min-width: 549.99px) {
  .navi__right-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media (min-width: 550px) {
  .navi__right-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.navi__right-grids-item {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: white;
}
.navi__right-grids-item:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.navi__right-grids-item h4 a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: black;
}
.navi__right-grids-item h4 a:hover {
  color: #009f4d;
}

/* 04 SERVICES */
.services {
  background-color: #009f4d;
}
.services span.card_laber {
  color: #009f4d;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.services h4.title-bg-content {
  text-decoration: none;
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  left: 0;
  bottom: 50%;
  transform: translate(50%, 50%);
}
@media (max-width: 991px) {
  .title-style {
    font-size: 35px;
    line-height: 45px;
  }
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.services .card img {
  border-radius: 0.25rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
a.service-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: black;
  margin: 15px 0;
}
.img-responsive {
  max-width: 100%;
  display: block;
  border-radius: 8px;
  width: 100%;
}
a.service-heading:hover {
  color: #009f4d;
  text-decoration: none;
}
/* 5 */
h5.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: black;
}
.grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
}
.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.radius-image {
  border-radius: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
  max-width: 100%;
}

.dark .services .card-body {
  background-color: #222222;
}

.dark .services a {
  color: white;
}
.dark .services p {
  color: #b7b7b7;
}

/* 06 */
.element h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.element h4:hover {
  transition: 0.3s ease-in-out;
  color: #009f4d;
  text-decoration: none;
}
.element p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.element__item {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
mg {
  max-width: 100%;
}

.element img {
  height: auto;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
  border-style: none;
}
.element .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.slidleft__text h4 {
  font-size: 25px;
  font-weight: bold;
}

.slidleft__text span {
  font-size: 20px;
}
